body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

.container {
  background-color: #b2aaaa;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

h1 {
  font-size: 24px;
}

textarea {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#redacted-text {
  text-align: left;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 4px;
  white-space: pre-wrap;
  background-color: #f9f9f9;
}
